# Add the following to your gitignore:

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt